/* CSS declarations go here */
template {
    font-family: 'open-sans';
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.intro {
    background-image: url('http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg');
    height: 50vh;
    color: white;
    text-align: center;
    background-size: cover;

}

.introclass {
    padding-top: 0%;
}

.introhead {
    font-weight: 500
}

.img {
    border-radius: 80px;
}

.featurea {
    width: 32%;
    float: left;
}

.featureb {
    width: 32%;
    display: inline-block;
}

.featurec {
    width: 32%;
    float: right;
}

nav{
    min-height: 50px;
    background-color: deepskyblue;
}
nav div{
    padding-top: 5px;
}
nav a{
    color: black;
    font-weight: bold;
}
nav a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a h4 {
    opacity: 0.7;
    font-size: 16px;
}
nav a h4:hover{
    opacity: 1;
}
footer ul li{
    list-style: none;
}
footer{
   background-color: lawngreen;
    min-height: 80px;
    margin-top: 40px;
}

.contact-form-footer{
    padding-top: 10px;
    padding-bottom: 10px;
}
.loginPanel{
    border-style:solid;
    border-color: black;
    border-width: 1px;
    border-bottom-width: 3px;
    border-radius: 10px;
}
@media screen(min-width: 700px){
    .loginPanel{
        margin-top: 100px;
    }
}
#login-username-label, #login-password-label{
    font-family: 'open-sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
#login-password-again-label{
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#login-username-label{
    margin-left: 24%;
}
#login-password-label{
    margin-left: 24%;
}
#login-password-again-label{
    margin-left: 17%;
}
#login-password, #login-username, #login-password-again{
    padding: 8px 0px 8px 0px;
    border-radius: 6px;
    border-width: 1px;
}
.login-button, .additional-link{
    color: black;
    background-color: #3366ff;
    line-height: 2;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border-color: #003cec;
    text-decoration: none;

}

.login-button:hover, .additional-link:hover{
    color: black;
    background-color: #003cec;
    line-height: 2;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border-color: #0037dd;
    text-decoration: none;
}

.error-message{
    color: black;
    font-weight: bold;
}
#edit{
    display: none;
}
#nosees{
    display: none;
}
